.section {
    background-color:  #fff;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 1rem;
    position: relative;

    h1 {
        color:#0c0303;
        text-align: center;
    }

    > h2 {
        color: #0c0303;;
        text-align: center;
        margin-top: 0.5rem;
        font-weight: 400;
    }
    p {
        color: #464646;
        text-align: center;
        margin-top: 0.8rem;
        font-weight: 400;
    }
}