.header {
  width: 100%;
  height: 64px;
  z-index: 99;
  position: relative;
  border-bottom:  1px solid #ffffff28;
}

.container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(252, 252, 252, 0.74);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}
.contentLogo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}
.fixed  {
    .contentLogo {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #000;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
    }
}

/* Animação do slide down */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown 0.4s ease forwards;
}

.nav {
  display: flex;
  gap: 20;
  flex-direction: row;

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      /* se quiser que o hover do li afete o link */
      &:hover a {
        transform: scale(1.09);
      }
    }

    a {
      display: inline-block;           /* fundamental — permite transform */
      transform: scale(1);             /* estado inicial */
      transform-origin: center;        /* origem da transformação */
      transition: transform 200ms ease, color 200ms ease;
      will-change: transform;          /* sugere otimização ao navegador */
      text-decoration: none;
      color: #ffcd6e;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        /* ou coloque o scale aqui se preferir */
        transform: scale(1.09);
        color: #ffffff; /* opcional */
      }
    }
  }
}

.fixed  {
    .logo-preta {
      filter: brightness(0) invert(0); 
    }
    .nav {
      ul {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          /* se quiser que o hover do li afete o link */
          &:hover a {
            transform: scale(1.09);
          }
        }

        a {
          display: inline-block;           /* fundamental — permite transform */
          transform: scale(1);             /* estado inicial */
          transform-origin: center;        /* origem da transformação */
          transition: transform 200ms ease, color 200ms ease;
          will-change: transform;          /* sugere otimização ao navegador */
          text-decoration: none;
          color: #000;
          font-weight: 600;
          text-transform: uppercase;

          &:hover {
            /* ou coloque o scale aqui se preferir */
            transform: scale(1.09);
            color: #333333; /* opcional */
          }
        }
      }
    }
}

